.sv-dem-header
  padding: 0 12px
  line-height 26px
  font-weight 500
  font-size 13px
  margin-top 2px
  margin-bottom 2px
  width: 100%

@media (max-width: 480px) {
  .sv-dem-header {
    font-size 12px
    font-weight 400
    padding: 0 10px !important

  }
}