div.languages-container(layout="row" layout-align="center center")
    button.btn.btn-flat.btn-s.tc-white-1.language-btn.fs-body-1(ng-click='changeLanguage("en")' hide-sm="" ng-class='{language:langEng}' class='m') ENGLISH
    button.btn.btn-flat.btn-s.tc-white-1.language-btn.fs-body-1(ng-click='changeLanguage("ru")' hide-sm="" ng-class='{language:!langEng}' class='m') RUSSIAN
    button.btn.btn-flat.btn-s.tc-white-1.language-btn.fs-body-1(ng-click='changeLanguage("en")' hide-gt-sm="" ng-class='{language:langEng}' class='m') EN
    button.btn.btn-flat.btn-s.tc-white-1.language-btn.fs-body-1(ng-click='changeLanguage("ru")' hide-gt-sm="" ng-class='{language:!langEng}' class='m') RU