mixin kohl2016()
    div(layout='column' layout-align='start' class="ml+ mr+ mt+")
        h2 You are Invited to Annual Svet Family Event at Kohl Children's Museum.'
        img(src="http://res.cloudinary.com/svet-russian-media-group/image/upload/c_scale,w_645/v1469237238/6000_KOHL_6N_CLR_YMCA_ENG_twrpc5.jpg")

