.card.pb.bgc-grey-50(class='ml mr mb+')
    div.p(layout='row' layout-align='space-between center' )
        span.fs-caption.display-block.tc-red-300(style='font-weight:500' ng-if="oneNews.topic")
            i.fa.fa-tag.fa-fw(style="margin-right:4px")
            | {{oneNews.topic|uppercase}}
        sv-svet-label(icon-type="fa" icon-name="fa-bookmark"
        ng-if="oneNews.section"
        tc="tc-blue-grey-600" bgc="bgc-grey-200"
        label-padding="2px 4px" fs="fs-caption" section-title="{{oneNews.section}}"
        route-name='app.section' params="params"  text-decoration="none"  cursor-type="pointer" )
    .pl.pr
        a.article-thumb-link.tc-grey-800(ui-sref='app.article({id:oneNews.fbkey})')
            span.display-block.fs-subhead(ng-bind-html='safeParsing(oneNews.title)')
        span.fs-caption.tc-grey-500(ng-bind-html='safeParsing(oneNews.author)')
        a.article-thumb-link.tc-grey-800(ui-sref='app.article({id:oneNews.fbkey})')
            span.display-block.tc-grey-800.fs-body-1(ng-bind-html='safeParsing(oneNews.summary)')
    div(layout='row' layout-align='end start' class='pr' hide-gt-md="")
        sv-read-more(route-name="app.article" sv-params="oneNews.fbkey" )
