extends layout
include mixins/menu/about-menu


block content
    div(class='p+')
        h1 About Us
    div(class='mb+')
        +about-menu
    div(class='p+')
        include ../app/scripts/sections/about/directives/sv-about-svet
