extends layout

block content
    .row
        div(class='p+ col-xs-8 col-xs-offset-2')
            include ../app/scripts/sections/contact/directives/sv-contact-us
    div(class='mb+ ml mr text-center' hide-sm )
        iframe(src="https://www.google.com/maps/d/embed?mid=zdTHzl0THQeM.kJQxl2t2rCe0" width="540" height="580")

