mixin blog(blog)
    .card
    div.p.sv-paper-toolbar-background
        a.sv-hover-grey
            span.display-block.fs-subhead.text-center.tc-red-800.sv-color-7.sv-hover-grey FROM THE EDITOR
    md-divider.sv-divider-light
    div.sv-paper-elements-background
        ul.list
            li.list-row.list-row--has-separator(style='padding: 0px 8px')
                .list-row__content
                    a.mdc-link
                        strong.fs-headline.display-block.tc-grey-900.sv-hover-red
                            | ALEX ETMAN
                        strong.fs-subhead.display-block.tc-red-800.sv-color-7.sv-hover-grey(style='font-size:18px;margin-top:4px')
                            i.mdi.mdi-blogger.fa-fw
                            | Blog
                .list-row__primary.mdc-text-right.img-editor-contner
                    a.mdc-link
                        img.img-round.mdc-text-right.img-editor.sv-img-b(src="../img/auth/alex-sepia.jpg")
    div.sv-paper-elements-background(style='padding-top:6px;padding-bottom:4px')
        a.tc-grey-700.sv-hover-grey(style='text-decoration:none' href='/articles/#{blog.fbkey}/')
            div.pl.pr.pb
                span.display-block.tc-grey-800.sv-hover-red(style="font-weight:600") !{blog.title}
            div.pl.pr.pb
                span.display-block.fs-body-1.tc-black-2.sv-hover-grey() !{blog.summary}
