div(layout='row' layout-align='top center')
    div.p(flex="50")
        sv-banner(img-url="../img/ad/ad-promotion/2-1.jpg" link-url="http://www.rusyp.com/" alt="Russian American Yellow Pages" target='_blank')
    div.p(flex)
        sv-banner(img-url="http://res.cloudinary.com/svet-russian-media-group/image/upload/v1487184643/banners/banner-ravinia-bw_e6jnwk.jpg" link-url="https://www.ravinia.org/" alt="Chicago Auditorium Theatre" target='_blank')
    div.p(flex)
        //sv-banner(img-url="../img/ad/ad-promotion/auditorium-1-1.jpg" link-url="http://www.auditoriumtheatre.org/" alt="Chicago Auditorium Theatre" target='_blank')
    //for IE
    //div.p(flex="50" style='width:100%;height:100%;max-height:190px')
    //    sv-banner(img-url="../img/ad/ad-promotion/2-1.jpg" link-url="http://www.auditoriumtheatre.org/" alt="Chicago Auditorium Theatre" target='_blank')
    //div.p(flex style='width:100%;height:100%;max-height:190px')t add --all
        git commit -m 'add files'
    //    sv-banner(img-url="../img/ad/ad-promotion/auditorium-1-1.jpg" link-url="http://www.auditoriumtheatre.org/" alt="Chicago Auditorium Theatre" target='_blank')
    //div.p(flex style='width:100%;height:100%;max-height:190px')
    //    sv-banner(img-url="../img/ad/ad-promotion/steppenwolf-1-1.jpg" link-url="http://www.steppenwolf.org/" alt="Chicago Auditorium Theatre" target='_blank')
