div
    div(style='position:absolute; top:50px')
        button.btn.btn--xs.btn--white.btn--raised.tc-grey-800(lx-ripple='' ng-click="showPrevAd()" style='opacity:.8')
            i.fa.fa-chevron-left.fa-lg
    div(style='position:absolute; top:50px;right:0px')
        button.btn.btn--xs.btn--white.btn--raised.tc-grey-800(lx-ripple='' ng-click='showNextAd()' style='opacity:.8')
            i.fa.fa-chevron-right.fa-lg