.sv-iframe-responsive-wrap(style='max-height:200px;margin:0px auto')
    //iframe(ng-src='http://localhost:1618' id='iframe' style='width:{{w}}px;height:{{h}}px;border:none;overflow:hidden' )
    iframe(ng-src='http://ec2-52-89-229-106.us-west-2.compute.amazonaws.com:1618/' id='iframe' ng-style='svStyle')

