.card.sv-paper-elements-background
    div.p.sv-paper-toolbar-background
        strong.fs-headline.display-block.text-center
            i.mdi.mdi-microphone &nbsp
            | Radio "OSA"
    md-divider.mb.sv-divider-light
    div
        div(class='mt+ mb text-center')
            span.fs-subhead.tc-red-800.sv-color-7.display-block.radio-subhead
                | Radio Talk show
            span.fs-subhead.tc-red-800.sv-color-7.display-block.radio-subhead
                | With Alexander Etman
        div(class='pb')
            span.fs-body-subhead.tc-grey-800.display-block.radio-body.text-center(style='line-height:20px')
                | Every Sunday
            span.fs-body-subhead.tc-grey-800.display-block.radio-body.text-center(style='line-height:20px')
                i.fa.fa-clock-o.fa-fw
                | on 1240AM'
            span.fs-body-subhead.tc-grey-800.display-block.radio-body.text-center(style='line-height:20px')
                i.fa.fa-wifi.fa-rotate-90.fa-fw
                | 11:00 AM - 1:00 PM.
        .card__actions.text-right.mt.mr.ml
            a.btn.btn--xs.btn--black.btn--flat.tc-red-800.sv-color-7( lx-ripple='')
                i.fa.fa-headphones.fa-fw &nbsp
                | Radio Programs Archive
        //    button.btn.btn--xs.btn--red.btn--flat(lx-ripple='') {{'listen'|translate}}
