div
    span.display-block.fs-display-1.mdc-underline-red.mdc-text-center.mt.ml.mr(class='mb+' ng-if='filterSection')
        i.fa.fa-newspaper
        | {{filterSection|uppercase}}
    span.display-block.fs-display-1.mdc-underline-red.mdc-text-center.mt.ml.mr(class='mb+' ng-if='!filterSection')
        i.fa.fa-newspaper
        | SVET NEWS
    div(layout='row' layout-wrap)
        div(flex-sm='100' flex-gt-sm='50' flex-gt-md='50' ng-repeat='gn in gridNews|sectionNews:filterSection| limitTo:12')
            sv-home-page-news(one-news = 'gn')
