div(style='width:1000px;margin:0px auto;height:100%' )
    div.mdc-display-inline-block.m(style='width:180px;float:left')
        a.m(style='padding:0px;margin:0px auto;width:130px;height:60px;display:block' href='/')
            img(alt='Company Logo' src='/img/logo/logo.png' style='display:inline-block;width:130px;margin:0px auto')
    div.m.p(style="float:left")
        div.mdc-display-inline-block.text-right.fs-headline.tc-grey-700.m(style="line-height:30px") Call us today!
        div.mdc-display-inline-block.text-right.fs-headline.tc-red-300.m(style="line-height:30px")
            i.fa.fa-phone.fa-fw
            | 847-715-9407
    div.m(style="float:right")
        span test
    div.m(style="float:right")
        a.btn.btn--white.btn--raised.p.m(style='padding:16px 8px' href="/classifieds/community")
            img(src='/img/header/pic-classified.jpg', style='width:80px;height:auto')
