div(style='width:1000px;margin:auto;height:100%' )
    ul.list-inline.text-right
        li
            a(target="blank" href="http://www.yelp.com/biz/svet-russian-media-group-northrbook" style='margin-top:5px;width:26px;height:26px;display:inline-block')
                img(width="26px" height="26px" src="/img/social/color/yelp.png" style='opacity:.9')
        li
            a(target="blank" href="https://www.youtube.com/watch?v=fuVyrMp3BpI" style='margin-top:5px;max-width:100%; width:26px;height:26px;display:inline-block ' )
                img(width="26px" height="26px" src="/img/social/color/youtube.png" style='opacity:.9')
        li
            a(target="blank" href="https://www.facebook.com/svetmedia" style='margin-top:5px;max-width:100%; width:26px;height:26px;display:inline-block')
                img(width="26px" height="26px" src="/img/social/color/fb.png" style='opacity:.9')
        li
            a(target="blank" href="https://www.linkedin.com/company/svet-russian-media-group" style='margin-top:5px;max-width:100%; width:26px;height:26px;display:inline-block')
                img(width="26px" height="26px" src="/img/social/color/linkedin.png" style='opacity:.9')

