md-bottom-sheet.md-list.md-has-header.bgc-grey-800(class='pt+')
    span.display-block.fs-subhead.tc-grey-400.mb(style='margin-bottom:0px') {{'svet-on-social-media'|translate|uppercase}}
    md-divider(style='border-top-color:#888888 !important' class='mb')
    div(layout='column')
        div.mb(layout='row' layout-align='space-between start')
            div(layout='column' )
                div
                    .fb-like(data-href='http://www.svet.com/', data-layout='button_count', data-action='like', data-size='small', data-show-faces='true', data-share='true')
                .mb
                .g-plusone(gplus='', data-size='medium', data-annotation='bubble', data-href='http://www.svet.com', data-action='share')
            div(layout='row' layout-align='start center')
                md-item
                    a.btn.btn--flat(href='http://www.yelp.com/biz/svet-russian-media-group-northrbook' style='margin:2px')
                        img.header-social-img(src='../img/social/color/yelp.png')
                md-item
                    a.btn.btn--flat(href='https://www.youtube.com/watch?v=fuVyrMp3BpI' style='margin:2px')
                        img.header-social-img(src='../img/social/color/youtube.png')
                md-item
                    a.btn.btn--flat(href='https://www.facebook.com/svetmedia' style='margin:2px')
                        img.header-social-img(src='../img/social/color/fb.png')
                md-item
                    a.btn.btn--flat(href='https://www.linkedin.com/company/svet-russian-media-group' style='margin:2px')
                        img.header-social-img(src='../img/social/color/linkedin.png')
        md-divider(style='border-top-color:#888888 !important' class='mb')
        div.tc-grey-500(layout='row' layout-align='center center')
            span.fs-caption
                i.fa.fa-copyright.fa-fw
                | SVET Russian Social Media. All rights reserved.




