mixin about-menu
    ul.list-inline.sv-margin-reset
        li.sv-padding-reset
            a.btn.btn--xs.btn--white.bgc-grey-100.btn--raised.fs-caption(lx-ripple='' href="/about/svet-russian-media-group") About Us
        li.sv-padding-reset
            a.btn.btn--xs.btn--white.bgc-grey-100.btn--raised.fs-caption(lx-ripple='' href="/about/russian-speaking-demographics") Demographics

