div.mt(layout='column' flex='' layout-align='center center' class='ml mr')
    div.text-center.pl.pr
        sv-profile-title(header-title="Contact Us")
    div.text-center.pl.pr
        sv-contact-us
    div(layout='column' layout-align='center center' class='mb+ ml mr' hide-sm )
        .sv-iframe-responsive-wrap
            iframe.sv-iframe-responsive(src="https://www.google.com/maps/d/embed?mid=1XZJ_kz9ioVHneDcYLeUDhUW4Ikw" width="640" height="680" scrolling="no" zooming="no")
    div(layout='column' layout-align='center center' class='mb+ ml mr' hide-gt-sm)
        sv-open-dialog-btn(link-name="Contact Us Map" modal-method="showContactMapModal()" btn-img-icon="img/common/google-map.png" img-width="24px")
