div
    div(ui-view='')
        div(layout='row' layout-align='space-between start' class="ml+ mr+ mb+" id='kohlGallery2016')
            div(layout='row')
                .mr
                    sv-fb-like
                .mr
                    sv-fb-share
                .mr
                    sv-google-share
            div(layout='row')
                //div(class='mr ml')
                //    a.btn.btn--xs.btn--black.bgc-grey-600.tc-grey-100(href='https://s3-us-west-2.amazonaws.com/svet.com/home/kohl-2015/kohl-2015.pdf' target='_blank')
                //        i.mdi.mdi-file-image &nbsp
                //        | {{'open-pdf'|translate}}
                //div(class='mr ml')
                //    a.btn.btn--xs.btn--black.bgc-grey-600.tc-grey-100(lx-ripple='' href='img/event-reports/kohl-2015.pdf' download="report.pdf")
                //        i.mdi.mdi-download &nbsp
                //        | {{'download'|translate}}
        div(layout='column')
            div.text-center.mr.ml.pr.pl
                h1.fs-display-1.txt-fontGrey.mt.text-center
                    | You are Invited to Annual Svet Family Event
                    br
                    | at Kohl Children's Museum
                br
                hr
                br
        div(layout='row' layout-align="center center")
            div.text-center.mr.ml.pr.pl
                img.imgEvent(ng-src="http://res.cloudinary.com/svet-russian-media-group/image/upload/c_scale,w_645/v1469237238/6000_KOHL_6N_CLR_YMCA_ENG_twrpc5.jpg")
        br
        hr
        br
        div(layout='row' layout-align='space-between start' class="ml+ mr+ mb+")
            sv-event-sidenav-ad-2015(event-title="event-ad-title" body="event-ad-body")
